.vscode/**
.vscode-test/**
src/**
node_modules/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/tsconfig.vscode.json
**/*.map
**/*.ts
!dist/**
.eslintrc*
esbuild.*.mjs
package.vscode.json
typings/**
README-ZH.md
manifest.json
version-bump.mjs
versions.json
